/*
 --- HAMBURGER MENU ---
 */
#hamburger-menu {
    display: none;
}

.hamburger-drawer{
    height: 100vh!important;
    z-index: 10;
}

.hamburger-item{
    text-align: center!important;
    text-decoration: none!important;
    color: #ffb1ab!important;
}

.hamburger-item:hover{
    color: black!important;
    cursor: pointer;
}

.hamburger-content{
    top: 15%!important;
}

.social-mini{
    display: inline-block!important;
    position: relative;
    margin: 0 auto;
}

.social-mini a{
    color: black;
    bottom: 0;
    position: relative;
    margin-left: 10px;
}

.social-mini a:hover{
    color: #ffb1ab;
}
/*
  Responsive
 */

@media only screen and (max-width : 700px) {

    #hamburger-menu {
        display: block!important;
        float: right!important;
        z-index: 10!important;
    }

}



