/*
 --- HAMBURGER MENU ---
 */
#hamburger-menu {
    display: none;
}

.hamburger-drawer{
    height: 100vh!important;
    z-index: 10;
}

.hamburger-item{
    text-align: center!important;
    text-decoration: none!important;
    color: #ffb1ab!important;
}

.hamburger-item:hover{
    color: black!important;
    cursor: pointer;
}

.hamburger-content{
    top: 30%!important;
}


/*
  Responsive
 */

@media only screen and (max-width : 700px) {

    #hamburger-menu {
        display: block!important;
        float: right!important;
        z-index: 10!important;
    }

}



