/**
 -- LANGUAGES
 */
#languages {
    text-align: center;
    border-bottom: 1px solid #dcd9d9;
    width: 100%;
    height: 500px;
    position: relative;
    background: #f5f5f5;
}

.language-card{
    height: 70%;
    width: 40%;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
    box-shadow: 0px 2px 10px #77A6B6!important;
}

.language-card-ctn{
    height: 100%;
    width: 100%;
    position: relative;
}

.language-block{
    position: relative;
    height: 50%;
    text-align: center;
}

#languages p{
    padding-top: 15px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: white;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
}

.flip-card-back svg{
    display: inline-block;
    margin: 0 auto;
}

.flip-card-back p{
    padding-left: 5px;
    padding-right: 5px;
}
/*
  Responsive
 */
@media only screen and (max-width : 975px) {

    .flip-card-back svg,p{
       display: block;
        padding: 0;
    }
}


@media only screen and (max-width : 480px) {

    #languages b{
        padding-right: 5px!important;
        font-size: 10px!important;
    }
}

