/*
 * -- HOME --
 */
.main{
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    /*background-image: url('assets/dude.jpg');*/
    background-size: cover;
    padding: 15px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


#content{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 10px;
}

#content h1 {
    color: black;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
}

#lead-down{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 5%;
    color: #fff;
}

#lead-down i {
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px;
    margin: auto;
}

#lead-down span {
    cursor: pointer;
    display: block;
    margin: 0 50%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid white;
}

.btn-rounded-white{
    display: inline-block;
    color: white;
    background: rgba(255,177,171,1);
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: .5s ease all;
    text-decoration: none!important;
    margin-left: 40px;
    margin-right: 5px;
    margin-top: 20px;
    text-align: center;
}

.btn-rounded-white:hover{
    border-color: #fff;
    background: rgba(255,177,171,0.5);
    color: #fff;
}

.view-src{
    display: inline-block;
    color: white;
    background: rgba(255,177,171,1);
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: .5s ease all;
    text-decoration: none!important;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 20px;
    text-align: center;
}

.view-src:hover{
    border-color: #fff;
    background: rgba(255,177,171,0.5);
    color: #fff;
}


@keyframes pulsate {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}


/*
  Responsive
 */

@media only screen and (max-width : 992px) {

    #lead {
        height: auto!important;
        min-height: auto!important;
        max-height: auto!important;
        padding: 100px 15px!important;
    }

    #content h1 {
        font-size: 3em!important;
    }
}

@media only screen and (max-width : 768px) {

    #content {
        top: 40%!important;
    }

    #content h1 {
        font-size: 2em!important;
    }

}

@media only screen and (max-width : 700px) {

    #content h1 {
        margin-left: 8%!important;
    }

    .btn-rounded-white {
        position: relative;
        display: block;
    }
}

@media only screen and (max-width : 480px) {

    #content h1 {
        font-size: 1.5em!important;
    }

    #content a {
        font-size: 0.9em!important;
        padding: 5px 20px!important;
    }

    .btn-rounded-white {
        position: relative;
        display: block;
    }
}

