/*
 ---- GLOBAL STYLES ----
 */

:root{
    --text: white;
}

.white-text{
    color: white!important;
}

.App {
  text-align: center;
  height: 100%;
}

body{
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('assets/nightcity.jpg')!important;
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 400;
    margin: 30px 0 30px 0px;
    border-bottom: 1px solid black;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.heading-white{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 2em;
    font-weight: 300;
    margin: 30px 0 30px 0px;
    border-bottom: 1px solid white;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*
  ----- HOME STYLE-----
 */
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: linear-gradient(to bottom, rgba(21,97,173,1),rgba(21,97,173,0.3));*/
    /*opacity: 0.35;*/
    z-index: 1;
}

/*
 --- HAMBURGER MENU ---
 */
#hamburger-menu {
    display: none;
}

.hamburger-drawer{
    height: 100vh!important;
    z-index: 10;
}

.hamburger-item{
    text-align: center!important;
    text-decoration: none!important;
    color: #ffb1ab!important;
}

.hamburger-item:hover{
    color: black!important;
    cursor: pointer;
}

.hamburger-content{
    top: 40%!important;
}

#nav-menu{
    position: relative;
    float: right;
    top: 4%;
    right: 10%;
    z-index: 10;
    margin-bottom: 10px;
    margin-right: 10px;
}

#nav-menu a{
    display: block;
    text-align: left;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    font-weight: lighter;
    cursor: pointer;
}

.nav-menu-a:hover{
    color: #fff!important;
}

.nav-menu-a:after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-menu-a:hover:after {
    width: 75%;
    left: 0;
}

.social a{
    display: inline-block!important;
    float: left;
    margin-right: 10px;
}

.social a:hover{
    color: #fff!important;
}

.main{
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background-image: url('assets/streetbackground.jpg');
    background-size: cover;
    padding: 15px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#portfolio{
    background-color: transparent;
}

#content{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 10px;
}

#content h1 {
  color: #fff;
  font-weight: 900;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.9em;
}

#lead-down{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 5%;
    color: #fff;
}

#lead-down i {
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px;
}

#lead-down span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid white;
    text-align: center;
}

.btn-rounded-white{
    display: inline-block;
    color: white;
    background: rgba(255,177,171,1);
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: .5s ease all;
    text-decoration: none!important;
    margin-left: 20px ;
    margin-right: 5px;
    margin-top: 20px;
}

.btn-rounded-white:hover{
    border-color: #fff;
    background: rgba(255,177,171,0.8);
    color: #fff;
}

.top {
    text-align: center;
    background: var(--background);
    color: white;
}

.top i{
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
}

.top span {
    cursor: pointer;
    display: block;
    margin: 0 auto 10px auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid white;
    text-align:center;
}

@keyframes pulsate {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

/*
 ---- ABOUT STYLE ----
 */
#about {
    padding: 75px 15px;
    border-bottom: 1px solid #dcd9d9;
    background: #fff;
}

#about h2{
    color: #374054;
    border-bottom: 1px solid black ;
}

#about p{
    color: black;
    margin: 0;
}

/*
 ---- SKILL STYLES ----
 */

#skills {
    padding: 20px 15px;
    text-align: center;
    border-bottom: 1px solid #dcd9d9;
    background: white;
}

#skills h2 {
    color: black;
    border-bottom: 1px solid black;
    margin: 15px 0 30px 0;

}

#skills ul{
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

#skills li{
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #374054;
    background: whitesmoke;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
    border: 1px solid black;
    box-shadow: 2px 5px 15px #888888
}

/*
 -- TIMELINE --
 */
.vertical-timeline::before {
    background: rgba(255,177,171,0.5)!important;
}

#timeline h2{
    color: var(--text);
    margin-bottom: 50px;
    border-bottom: 1px solid white ;
}

/*
  Responsive
 */

@media only screen and (max-width : 992px) {

    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px;
    }

    #content {
        position: relative;
        transform: none;
        left: 5%;
        top: 40%;
    }

    #nav-menu a{
        position: relative;
        top: 5%;
    }

    #content h1 {
        font-size: 3em;
    }


    #about {
        text-align: center;
    }
    #about p {
        text-align: left;
    }
}

@media only screen and (max-width : 768px) {

    #content {
        top: 40%;
    }

    #content h1 {
        font-size: 2em;
    }

}

@media only screen and (max-width : 700px) {

    #nav-menu {
        display: none;
    }

    #hamburger-menu {
        display: block;
        float: right;
        z-index: 10;
    }

    #content {
        top: 40%;
    }

    #content h1{
        position: relative;
    }

    .btn-rounded-white {
        position: relative;
        display: block;
        width: 50%;
        left: 15%;
    }
}

@media only screen and (max-width : 480px) {

    #content h1 {
        font-size: 1.5em;
    }

    #content a {
        font-size: 0.9em;
        padding: 5px 20px;
    }
}

