/*
 ---- ABOUT STYLE ----
 */
#about {
    padding: 75px 15px;
    border-bottom: 1px solid #dcd9d9;
    background: #fff;
}

#about h2{
    color: #374054;
    border-bottom: 1px solid black ;
}

#about p{
    color: black;
    margin: 0;
}


/*
  Responsive
 */

@media only screen and (max-width : 992px) {

    #about {
        text-align: center!important;
    }
    #about p {
        text-align: left!important;
    }
}
